@use 'variables' as v;

header{
    height: 80px;
    background-color: v.$color-variant;
    margin-bottom: 20px;
    .container{
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            span{
                font-weight: 300;
            }
        }
    }
}