@use 'variables' as v;

header{
    height: 80px;
    background-color: v.$color-variant;
    .container{
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        a{
            display: flex;
            align-items: center;
            gap: 10px;
            svg{
                width: 50px;
                fill: v.$color-white;
            }

            h1{
                color: v.$text-white;
                span{
                    font-weight: 300;
                    color: v.$text-black;
                }
            }
        }

    }
}