@use 'variables' as v;

.not-found{
    
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        p{
            font-size: 160px;
            font-weight: 800;
            color: v.$text-white;
        }
        svg{
            fill: v.$text-white;
            height: 120px;
        }
    }

    a{
        color: v.$text-white;
    }
}